/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1D4350;
	opacity: .97;   
	display: table;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.modal-container {
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(2, 2, 2, 0.1);
}

.slide-enter-active, .slide-leave-active {
	transition: all .8s ease;
}

.slide-enter, .slide-leave-to {
	transform: translateX(100%);
	opacity: 0;
}

.modal-nav {
	text-align: center;
	color: white;
	list-style: none;
	width: 100%;
	padding-left: 0px;

	a {
		color: #F7F7F7;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 48px;
		font-family: 'Roboto Condensed', raleways,sans-serif;
		line-height: 2;
		letter-spacing: 4px;
		transition: all .3s ease;
		-webkit-font-smoothing: antialiased;
		font-weight: lighter;
		cursor: pointer;
		position: relative;

		&:hover{
			letter-spacing: 6px;
		}
	}

	a:before, a:after {
		content: '';
		position: absolute;
		width: 0%;
		height: 3px;
		top: 50%;
		margin-top: -0.5px;
		background: #fff;
	}

	a:before {
		left: -2.5px;
	}
	a:after {
		right: 2.5px;
		background: #fff;
		transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
	}

	a:hover:before {
		background: #fff;
		width: 100%;
		transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
	}

	a:hover:after {
		background: transparent;
		width: 100%;
		transition: 0s;
	}
}
/*--------------------------------------------------------------
# Navigation Icons
--------------------------------------------------------------*/

.nav-icons {
	display: flex;
	justify-content: space-between;
	
	a {
		z-index: 9999;
	}
}