/*--------------------------------------------------------------
# Route BG Images
--------------------------------------------------------------*/

.route {
	height: 100%;
	width: 100%;
	position: fixed;
}

.work-route {
	background: url(/fantasy-enduro.png) no-repeat top center;
	background-size: cover;
}

.gold-route {
	background: url(/gold-team.png) no-repeat top center;
	background-size: cover;
}