/*--------------------------------------------------------------
# Route BG Images
--------------------------------------------------------------*/
.home-route {
	background-color: #274046;
	position: relative;
}

.work-route {
	background: url(/img/fantasy-enduro.jpg) no-repeat top center;
	background-size: cover;
	min-height: 100vh;
	position: relative;
}

.gold-route {
	background: url(/img/gold-team.jpg) no-repeat top center;
	background-size: cover;
	min-height: 100vh;
	position: relative;
}